body {
    margin:0px;
	background-image:url("bg.jpg");
	background-size:cover;
	background-attachment:fixed;
	
}

.blackout {
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,0.6);
	z-index:2000;
}

.post_box {
	width:100%;
	position:fixed;
	z-index:3000;
}

.post_form {
	width:auto;
	margin-top:15%;
}

.line {
	width:580px;
	padding:10px;
	border-radius:2px;
	box-shadow:0 1px 2px #000;
	border:none;
}

.line_post {
	width:580px;
	padding:10px;
	border-radius:2px;
	background:#196ee5;
	color:#fff;
	font-size:21px;
	border:none;
}

.top_bar {
	width:auto;
	padding:20px;
	background:#fff;
	box-shadow:0 1px 2px #000;
}

.header {
	font-size:36px;
	font-weight:normal;
	color:#196ee5;
	font-family:Lato;
}

.button{
    font-size: 48px;
}

.topnav{
    width:98%;
    background:white;
    display:table;
    box-shadow:0 1px 2px #000;
    padding:5px 1% 5px 1%;
    margin:0px;
    position: fixed;

}

.search_box {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius:3px;
    font-size: 17px;
    width:50%;
    -webkit-transition: width 0.5s; /* Safari */
    transition:0.5s width ease-in-out;
}

.search_box:focus {
        width:90%;
}

.duh {
        display:table-cell;
        width:25%;
}

.nav {
        display:table-cell;
        width:50%;
}

.search_form {
        display:table-cell;
        width:25%;
}

 .nav_but {
    background:transparent;
    margin: 0;
    padding-top: 5px;
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border:none;
    border-bottom:2px solid transparent;
}


.nav_but:hover {
    border-bottom:2px solid #169ee5;
    color:#169ee5;
}     display: inline-block;


.search_box:focus {
        width:100%;
}

.OuterBox{
    padding-top: 50px;
    display:table;
    width:100%;
    
}
.box1{
    display:table-cell;
    width:40%;
    height: 20px;
    background-color: red;
    padding-right: 10px;
}
.box2{
    display: table-cell;
    width:60%;
    background-color: black;
 padding-left: 10px;
}

#sub_box_1, #sub_box_2, #sub_box_3, #sub_box_4{
    padding: 20px;
    height: 10px;
    background-color:  #ccffcc;
}
